[submodule "crawler/itelec2016"]
	path = crawler/itelec2016
	url = git@github.com:everywish/itelec2016.git
[submodule "vendor/itelec2016"]
	path = vendor/itelec2016
	url = git@github.com:everywish/itelec2016.git
[submodule "bin/itelec2016"]
	path = bin/itelec2016
	url = git@github.com:everywish/itelec2016.git
[submodule "lib/crawl"]
	path = lib/crawl
	url = https://github.com/everywish/itelec2016.git
