<h1>2016 총선 IT 도우미 프로젝트</h1>
<p>현재까지는 <a href=/candidates/>후보목록</a>을 <a href=/candidates.json>JSON</a>으로 제공하는 기능만 있습니다. <a href=https://github.com/everywish/itelec2016>깃헙링크</a>
</p>
<p>
 <s>(목록은 한시간에 한번씩 업데이트 합니다)</s>
</p>
 <p>(목록은 <a href=/display/crawl>이곳</a>을 클릭하시면 업데이트합니다. 가져오는데 이십초정도 걸립니다. 호스팅쪽의 문제로 오류메시지가 나오는 경우가 있지만, 진짜 오류는 아니고, 오래걸려서 나오는 메시지입니다.)</p>
 <p>(크롤링 히스토리는 <a href=/histories>이곳</a>에서 볼수 있습니다.)</p>
